$grey-lt-000: #f9f9f9;

.site-logo {
    width:70%;
}

.site-button {
    padding: 16px 0.6rem;
}
.site-footer {
    display: none;
}
.main-content-wrap {
    // padding-left: 0;
    // padding-right: 0;
}

#markdown-toc {
    padding-left: 0%;
}
#markdown-toc > li {
    font-size: 16px;
}
#markdown-toc *::before {
    content: none;
}


// Code

div.highlighter-rouge div.highlight, div.highlighter-rouge pre.highlight, div.highlighter-rouge code {
  white-space: pre-wrap;
}

.language-plaintext {
    font-size: 14px;
    padding-left: 6px;
    padding-right: 6px;
}
.highlighter-rouge pre > * {
    font-size: 14px;
}

// Inside table

td .language-plaintext {
    font-size: 12px;
    padding-left: 6px;
    padding-right: 6px;
}


// TYPOGRAPHY

h1, .text-alpha {
    font-size: 58px !important;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 3.2rem !important;
}
h1 + hr {
    display: none;
}

.main-content h2 {
    font-size: 22px !important;
    font-weight: 700;
    padding-bottom: 0.7rem;
    border-bottom: 3px solid black;
    margin-bottom: 33px;
    margin-top: 66px;
}
// TOC header ↓
.main-content h2.text-delta {
    margin-bottom: 1.6rem;
    font-size: 12px !important;
    font-weight: 400;
    padding-bottom: 0;
    border-bottom: none;
}

.main-content h3 {
    font-size: 19px !important;
    font-weight: 700;
    margin: 28px 0;
}
.main-content h4 {
    font-size: 13px !important;
    font-weight: 700;
    color: #333 !important;
    letter-spacing: 0.6px;
    margin: 28px 0;
}

// SIDE BAR

.side-bar {
    align-items: flex-start;
    background-color: $grey-lt-000;
    border-width: 0;
    width: $nav-width;
    min-width: $nav-width;
}
.side-bar a {
    color: #333;
}
.nav-list .nav-list-item {
    margin: 0.4rem 0.8rem;
}
.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: none;
    background-color: $grey-lt-100;
    border-radius: 4px;
    // margin: 0.4rem;
}
.nav-list .nav-list-item .nav-list-link.active {
    // margin: 0.4rem 0.8rem;
}
.nav-list-expander {
    // display: none;
    color: #333 !important;
    opacity: 0.2;
    margin-right: 1rem;
}

// IMAGES

img {
    border-radius: 8px;
    background-color: $grey-lt-000;
    border: 1px solid #f6f6f6;
    margin: 2rem 0;
    transform: translate3d(0,0,0);
}

// TABLES

.table-wrapper {
    // padding: 8px;
    box-shadow: none;
    border-radius: 0;
    margin: 1.4rem 0 !important;
}
table, th, td {
    border: none !important;
    border-spacing: 0;
    text-align: left;
}
th {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: +1px;
    font-size: 12px !important;
}
th, td {
    border-bottom: 1px solid rgba(156, 156, 156, 0.3) !important;
    padding: 1rem 1rem;
}
td {
    font-size: 10px;
}




// table just for layout / several cols

table.layoutOnly tr {
    display: flex !important;
    gap: 20px;
    flex-direction: row;
}
table.layoutOnly th, table.layoutOnly td {
    flex-grow: 1;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    // margin: 0 10px !important;
}

// COLORS TABLE

table.colorTable th:first-child {
    width: 40%;
}
table.type-02 th, table.type-02 td  {
    text-align: center !important;
}

.textfaded {
    color: #ccc !important;
}
.faded > * {
    color: #ccc !important;
}

span.tableColorChip {
    float: right;
    width: 2.4rem;
    height:2.4rem;
    border-radius: 50%;
    background-color: #FAFAFA;
    margin-right: 1rem;
    border: 1px solid #f8f8f8;
}
span.tableColorChip:hover {
        border: 1px solid #333;
}

 // DOS & DONT'S

.dosdonts-do, .dosdonts-donts {
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 10px solid black !important;
}
.dosdonts-do > *, .dosdonts-donts > * {
  padding-bottom:0;
  margin-bottom:0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dosdonts-do {
  border-bottom-color: #18D1B0 !important;
}
.dosdonts-do::after {
  // border: 2px solid red;
  // margin-top: -10px;
  // content: url("https://raw.githubusercontent.com/yummly/pasta/main/docs/assets/images/YPL-DOC-sticker-dos-18D1B0.svg?token=ADCHLAZREYG7CR3I5XUATDDBF7OKS") !important;
}
.dosdonts-dont {
  border-bottom-color: #F13333 !important;
}
.dosdonts-dont::after {
  // border: 2px solid red;
  // margin-top: -10px;
  // content: url("https://raw.githubusercontent.com/yummly/pasta/main/docs/assets/images/YPL-DOC-sticker-donts-F13333.svg?token=ADCHLA6R7UAO6ID7OBWCPATBF7NUS") !important;
}
