$grey-lt-000: #f9f9f9;
$content-width: 976px;
$root-font-size: 18px; // doesn't seem to work

.site-title {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  letter-spacing: 0.4px !important;
}

// background colors
body {
  background-color: #fcfcfc;
}

.main-header > *,
.search-input {
  background-color: transparent !important;
}
@media (min-width: 50rem) {
  .main-header {
    background-color: transparent !important;
  }

  .search-label {
    padding-left: 1rem;
  }
}

// decorations footers etc
.site-logo {
  width: 70%;
}

.site-button {
  padding: 16px 0.6rem;
}

.site-footer {
  display: none;
}
// SIDE BAR
.side-bar {
  align-items: flex-start;
  // background-color: $grey-lt-000;
  background-color: #fcfcfc;
  border-width: 0;
  width: $nav-width;
  min-width: $nav-width;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 1.6s;
}
@media (min-width: 50rem) {
  .site-nav {
    padding-top: 0;
  }
}
.side-bar:hover, .side-bar:active {
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, .09);
  transition: box-shadow 0.5s;
}
.site-header {
  border: none;
}
.site-header a:hover {
  background-color: #e9e9e9 !important;
}
.side-bar a {
  color: #333;
}

// Navigation

.nav-list .nav-list-item {
  margin: 0.4rem 1rem;
}
.nav-list .nav-list-item .nav-list-link.active,
.nav-list .nav-list-item .nav-list-link:hover {
  background-image: none;
  background-color: #e9e9e9 !important;
  border-radius: 4px;
}
.nav-list-item:hover .nav-list-expander {
  opacity: 0.8;
  transition: opacity 0.6s;
}
.nav-list-expander {
  // display: none;
  color: #333 !important;
  opacity: 0.3;
  margin-right: 1rem;
  transition: opacity 0.6s;
}
.nav-list li {
  margin: 0.4rem 0.4rem;
}
li li .nav-list-expander {
  margin-right: 0;
}
.nav-list-expander:hover {
  background-color: transparent !important;
}



// TOCs
#markdown-toc {
  padding-left: 0;
}

#markdown-toc > li {
  font-size: 16px;
}

#markdown-toc *::before {
  content: none;
}
// remove extra margin for encapsulated images
p > img {
  margin: 0;
}
// Code
div.highlighter-rouge code,
div.highlighter-rouge div.highlight,
div.highlighter-rouge pre.highlight {
  white-space: pre-wrap;
}

.language-plaintext {
  font-size: 14px;
  padding-left: 6px;
  padding-right: 6px;
}

h1 .language-plaintext {
  display: inline-block;
  vertical-align: text-top;
  font-size: 18px;
  color: hsla(0,0,0,0.7);
  letter-spacing: -1px;
  padding: 0px 8px;
}

.highlighter-rouge pre > * {
  font-size: 14px;
}
// Inside table
td .language-plaintext {
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
}
// TYPOGRAPHY
.text-alpha,
h1 {
  font-size: 58px !important;
  line-height: 60px;
  font-weight: 600;
  margin: 2rem 0 2rem 0 !important;
  letter-spacing: 0;
}

h1 + hr {
  display: none;
}

.titleLight {
  // light span inside Titles
  color: #333;
  font-weight: 100;
  letter-spacing: -0.8px;
  font-size: 55px;
}
// TOC header ↓
.main-content h2.text-delta {
  margin-bottom: 1.6rem;
  font-size: 12px !important;
  font-weight: 400;
  padding-bottom: 0;
  border-bottom: none;
}
// headings
.main-content h2 {
  font-size: 24px !important;
  font-weight: 700;
  padding-bottom: 0.8rem;
  border-bottom: 3px solid black;
  margin-bottom: 38px;
  margin-top: 66px;
  letter-spacing: 0.25px;
}

.main-content h3 {
  font-size: 20px !important;
  font-weight: 700;
  margin: 33px 0;
  letter-spacing: 0.15px;
}

.main-content h4 {
  font-size: 14px !important;
  font-weight: 700;
  color: #222 !important;
  letter-spacing: 0.35px;
  margin: 33px 0;
  // border-left: 3px solid #eee;
  // padding-left: 0.8rem;
}

.main-content h5 {
  // font-size: 14px !important;
  font-weight: 700;
  color: #444 !important;
  letter-spacing: 0.1px;
  margin: 20px 0;
  // border-left: 3px solid #444;
  // padding-left: 0.8rem;
}


strong {
  font-weight: 600;
  color: #3c3c3c;
  letter-spacing: 0.06px;
}
// IMAGES
img {
  border-radius: 8px;
  // background-color: $grey-lt-000;
  background-color: #fff;
  border: 1px solid hsla(0,0,0,0.1);
  margin: 2rem 0;
  transform: translate3d(0,0,0);
}


// TABLES
.table-wrapper {
  // padding: 8px;
  box-shadow: none;
  border-radius: 0;
  margin: 1.6rem 0 3.6rem 0 !important;
  background-color: transparent;
}

table,
td,
th {
  border: none !important;
  border-spacing: 0;
  text-align: left;
  background-color: transparent;
}

th {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: +0.7px;
  font-size: 12px !important;
  color: rgba(0,0,0,0.6) !important;
}

td,
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
  padding: 1rem;
}
th {
  border-color: rgba(0, 0, 0, 0.07) !important;
}

td {
  font-size: 10px;
}





// table just for layout / several cols
table.layoutOnly {
  margin: 2rem 0 0;
}
table.layoutOnly tr {
  display: flex !important;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
}
table.layoutOnly td,
table.layoutOnly th {
  flex-grow: 1;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  // margin: 0 10px !important;
}
.layoutOnly img {
  margin: 0;
}





// COLORS TABLE
table.colorTable th:first-child {
  width: 40%;
}
table.type-02 td,
table.type-02 th {
  text-align: center !important;
}
.textfaded {
  color: #ccc !important;
}
.faded > * {
  color: #ccc !important;
}
span.tableColorChip {
  float: right;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #FAFAFA;
  margin-right: 1rem;
  border: 1px solid #f8f8f8;
}
span.tableColorChip:hover {
  border: 1px solid #333;
}


// DOS & DONT'S


.dd-do,
.dd-dont {
  border: none;
  margin: 8px 0 3rem;
  opacity: 0.85;
}

p + .dd-do,
p + .dd-dont {
  margin-top: -16px;
}

.dd-do {
  border-top: 4px solid #18D1B0 !important;
}

.dd-dont {
  border-top: 4px solid #F13333 !important;
}

.dd-do::after {
  content: "do";
  color: #18D1B0;
  // float: right;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.dd-dont::after {
  content: "don't";
  color: #F13333;
  // float: right;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}


// Flex 1 1 1

.flex-1_1_1-cols {
  margin: 3rem 0 2rem 0;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flex-1_1_1-cols > * {
  flex-grow: 1;
  flex-basis:30%;
  // width: 30%;
  min-width: 220px;
}


// Flex 1-1

.flex-1_1-cols {
  margin: 3rem 0 2rem 0;
  display: flex;
  gap: 24px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flex-1_1-cols > * > *:first-child {
  margin-top: 0;
}

.flex-1_1-cols > *, .flex-1_1-cols img {
  margin: 0;
}
.flex-1_1-cols > *:first-child {
  flex-basis:calc(50% - 12px);

}
.flex-1_1-cols > *:nth-child(2) {
    flex-basis:calc(50% - 12px);
}
@media screen and (max-width: 640px) {
  .flex-1_1-cols > *:first-child {
    flex-basis:100%;
  }
  .flex-1_1-cols > *:nth-child(2) {
    flex-basis:100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 799px) {
  .flex-1_1-cols > *:first-child {
    flex-basis:calc(50% - 12px);
  }
  .flex-1_1-cols > *:nth-child(2) {
    flex-basis:calc(50% - 12px);
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  .flex-1_1-cols > *:first-child {
    flex-basis:100%;
  }
  .flex-1_1-cols > *:nth-child(2) {
    flex-basis:100%;
  }
}
@media screen and (min-width: 901px) {
  .flex-1_1-cols > *:first-child {
    flex-basis:calc(50% - 12px);
  }
  .flex-1_1-cols > *:nth-child(2) {
    flex-basis:calc(50% - 12px);
  }
}


// LAYOUTS
// Flex 1-2

.flex-1_2-cols {
  margin: 3rem 0 2rem 0;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flex-1_2-cols > * > *:first-child {
  margin-top: 0;
}

.flex-1_2-cols > *, .flex-1_2-cols img {
  margin: 0;
}
.flex-1_2-cols > *:first-child {
  flex-basis:calc(33.33% - 10px);

}
.flex-1_2-cols > *:nth-child(2) {
    flex-basis:calc(66.66% - 10px);
}
@media screen and (max-width: 640px) {
  .flex-1_2-cols > *:first-child {
    flex-basis:100%;
  }
  .flex-1_2-cols > *:nth-child(2) {
    flex-basis:100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 799px) {
  .flex-1_2-cols > *:first-child {
    flex-basis:calc(33.33% - 10px);
  }
  .flex-1_2-cols > *:nth-child(2) {
    flex-basis:calc(66.66% - 10px);
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  .flex-1_2-cols > *:first-child {
    flex-basis:100%;
  }
  .flex-1_2-cols > *:nth-child(2) {
    flex-basis:100%;
  }
}
@media screen and (min-width: 901px) {
  .flex-1_2-cols > *:first-child {
    flex-basis:calc(33.33% - 10px);
  }
  .flex-1_2-cols > *:nth-child(2) {
    flex-basis:calc(66.66% - 10px);
  }
}


// Flex 2 1

.flex-2_1-cols {
  margin: 3rem 0 2rem 0;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flex-2_1-cols > * > *:first-child {
  margin-top: 0;
}
.flex-2_1-cols > *, .flex-2_1-cols img {
  margin: 0;
}
.flex-2_1-cols > *:first-child {
  flex-basis:calc(66.66% - 10px);

}
.flex-2_1-cols > *:nth-child(2) {
    flex-basis:calc(33.33% - 10px);
}
@media screen and (max-width: 640px) {
  .flex-2_1-cols > *:first-child {
    flex-basis:100%;
  }
  .flex-2_1-cols > *:nth-child(2) {
    flex-basis:100%;
  }
}
@media screen and (min-width: 641px) and (max-width: 799px) {
  .flex-2_1-cols > *:first-child {
    flex-basis:calc(66.66% - 10px);
  }
  .flex-2_1-cols > *:nth-child(2) {
    flex-basis:calc(33.33% - 10px);
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  .flex-2_1-cols > *:first-child {
    flex-basis:100%;
  }
  .flex-2_1-cols > *:nth-child(2) {
    flex-basis:100%;
  }
}
@media screen and (min-width: 901px) {
  .flex-2_1-cols > *:first-child {
    flex-basis:calc(66.66% - 10px);
  }
  .flex-2_1-cols > *:nth-child(2) {
    flex-basis:calc(33.33% - 10px);
  }
}




// Cards

.card-link {
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0);
  transform: translateY(0);
  background-color: #222;
  color: #ccc;
  border-radius: 5px;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.4s;
}
.card-link:hover {
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
  transition: all 0.4s;
}
.card-link:hover > h8 {
  opacity: 0.4;
  // filter: blur(3px);
  transition: all 0.4s;
}
.card-link > p::after {
  opacity: 0;
  content: "  →";
  transition: all 0.8s;
  transition-delay: all 0.6s;
}
.card-link:hover > p {
  color: #666;
  transition: all 0.6s;
}
.card-link:hover > p span {
  color: #ddd;
  transition: all 0.4s;
}
.card-link:hover > p::after {
  color: #666;
  opacity: 1;
  transition: all 1s;
  transition-delay: all 1s;
}
.card-link:hover > svg {
  fill: #444;
  filter: blur(3px);
  transition: all 0.4s;
}
.card-link h8 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  hyphens: auto;
  transition: all 0.4s;
}
.card-link p {
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #aaa;
  min-height: 9rem;
  transition: all 0.4s;
}
.card-link svg {
  width: 80%;
  margin: 0 10%;
  fill: #999;
  transition: all 0.4s;
}

// MAIN MEDIA QUERIES

@media (min-width: 50rem) {
  .main {
    max-width: 976px !important;
  }
}
@media (min-width: 50rem) {
  .search-input-wrap {
    max-width: none !important;
  }
}
@media (min-width: 66.5rem) {
  .main {
    margin-left: calc((100% - 1200px) / 2 + 264px);
  }
}
